# Gradle files
.gradle/
build/
/local.properties

# Android Studio / IntelliJ files
.idea/
*.iml
*.iws
*.ipr
/captures/
.externalNativeBuild/
.cxx/

# Output files
*.apk
*.aar
*.ap_
*.dex
*.class
*.hprof

# Log files
*.log

# OS specific
.DS_Store
Thumbs.db
